.app__navbar {
    width: 100%;
    height: 88px;
    background-color: #0F7EE9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--f-p);
}

.nav__center {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.sm__screen {
    display: none;
}

.nav__profile, .nav__language {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.active {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(0, 181, 0);
    border-radius: 50%;
    left: 52px;
    bottom: 12px;
    outline: 3px solid #0F7EE9;
}

.nav__profile img {
    width: 60px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.profile__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: 0.6rem;
}

.profile__details h4, .nav__language p {
    font-size: 1.12rem;
    color: #FFF;
    text-align: left;
    font-weight: 500;
}

.profile__details p {
    font-size: 0.98rem;
    color: #ddd;
    text-align: left;
    font-weight: 300;
}

.nav__language img {
    width: 72px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media all and (max-width: 950px) {

    .sm__screen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sm__screen button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.8rem;
        color: #DDD;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.2s ease-in, transform 0.2s ease-out;
    }

    .sm__screen button:is(:hover, :focus-visible) {
        color: #FFF;
    }

    .sm__screen button.active__menu {
        transform: rotate(90deg);
    }

    .nav__profile {
        display: none;
    }

}